:root {
  scroll-behavior: smooth;
}

body {
  padding-inline: 14.375%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
body main {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
body header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}
body header .header-wrapper .logo {
  cursor: pointer;
}
body header .header-wrapper nav ul {
  display: flex;
  gap: 40px;
}
body header .header-wrapper nav ul li a {
  text-decoration: none;
  color: #4b5d68;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}
body header .header-wrapper nav ul li:hover a {
  color: #8a40ee;
}
body header .demo {
  box-sizing: border-box;
  width: 210px;
  height: 60px;
  border: 1px solid #9c69e2;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  background: #ffffff;
}
body header .demo svg path {
  stroke: #9c69e2;
}
body header .demo a {
  text-decoration: none;
  color: #212353;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  padding: 16px 23px 16px 23px;
  display: inline-block;
}
body header .demo:hover {
  background-color: #9c69e2;
}
body header .demo:hover a {
  color: #ffffff;
}
body header .demo:hover svg path {
  stroke: #ffffff;
}
.herov {
  display: flex;
  width: 100%;
  min-width: 1170px;
  height: 489px;
  justify-content: space-between;
}
.herov .hero_image {
  width: 770px;
  height: 407px;
  margin-left: -250px;
  margin-top: 80px;
  align-self: flex-end;
}
.herov .herov_inform {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.herov .herov_inform .herov_header {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #212353;
  max-width: 601px;
}
.herov .herov_paragraf {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
  max-width: 370px;
  max-width: 370px;
}
.herov .herov_btn {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: #9c69e2;
  border: 1px solid #9c69e2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
  width: 210px;
  height: 60px;
  text-decoration: none;
  box-sizing: border-box;
  padding-left: 52px;
  margin-top: 50px;
}
.herov .herov_inform button:hover {
  background: #8a40ee;
}
.info {
  background: #fde8f5;
  border-radius: 50px;
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 1170px;
}
.info .info-image {
  background-image: url(../images/info-image.svg);
  width: 400px;
  height: 410px;
}
.info .info-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.info .info-text h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  display: flex;
  align-items: center;
  color: #212353;
}
.info .info-text .info-text-p p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
}
.features {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
}
.features h2 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  color: #212353;
}
.features p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  width: 638px;
  height: 58px;
  color: #4b5d68;
}
.features .learn {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(570px, 1fr));
  justify-items: center;
}
.features .learn .learn-item {
  max-width: 100%;
  min-width: 570px;
  display: flex;
  margin-block-end: 50px;
  align-items: center;
}
.features .learn .learn-item .learn-image {
  width: 230px;
  height: 180px;
  margin-inline-end: -60px;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
}
.features .learn .learn-item .item-text {
  border-radius: 50px;
  min-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding-inline-start: 100px;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: start;
}
.features .learn .learn-item .item-text h3 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}
.features .learn .learn-item .item-text p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #4b5d68;
  width: 230px;
}
.features .learn .learn-item .item-text a {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.005em;
  color: #212353;
}
.features .learn .learn-item .item-text a:after {
  content: "";
  width: 20px;
  height: 14px;
  display: inline-block;
  margin-inline-start: 20px;
}
.features .learn .learn-item .search {
  background-color: #f0faf9;
}
.features .learn .learn-item .hours {
  background-position: bottom 10px right 30px;
  background-color: #f6f0fd;
}
.features .learn .learn-item .print {
  background-color: #fef0f8;
  background-position: top 20px right 30px;
}
.features .learn .learn-item .security {
  background-color: #eaf6fc;
  background-position: top 20px right 30px;
}
